<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Cart info!</title>
  </head>
  <body>

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark " style=" position: fixed; top: 0;  left: 0;  z-index: 9999;  width: 100%; height: 50px; background-color: #FFFFF0;  height: auto;  ">
              <a class="navbar-brand" href="{% url 'ecommerce:index'%}"><strong>BT</strong>RESOURCES</a>

            <ul class="nav navbar-nav ">
              <li class="active" ><a href="{% url 'ecommerce:index'%}">HOME</a></li>
              <li ><a href="{% url 'ecommerce:company_view'%}">COMPANIES</a></li>
              <li ><a href="{% url 'ecommerce:membership_view'%}">MEMBERSHIP</a></li>
              <li><a href="{% url 'ecommerce:about_view'%}">ABOUT US</a></li>
            </ul>

            <ul class="navbar-nav  ml-auto">
              {%if user_name == None%}
               <li><span class="glyphicon glyphicon-log-in"></span><a href="{% url 'login_page'%}">LOGIN</a></li>
              <li><span class="glyphicon glyphicon-user"></span><a href="{% url 'register_page'%}">SIGN UP</a></li>
              {%elif user_name != None %}
              {%for logged_user in user%}
              {%if logged_user.role == "Admin" %}
              <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="{% url 'adminstrator:order_view'%}"><span class="glyphicon glyphicon-shopping-cart"></span>ORDERS</a></li>

    <li class="nav-item dropdown" style="color:white;"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user_name}}<br>{{times}}</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">





      <a class="dropdown-item" href="{% url 'adminstrator:buyers_view'%}">USERS</a>
      <a class="dropdown-item" href="{% url 'adminstrator:freight'%}">FREIGHT VIEW</a>
      <a class="dropdown-item" href="{% url 'adminstrator:freight_view'%}">FREIGHT CREATE</a>
      <a class="dropdown-item" href="{% url 'adminstrator:finalied_order_view'%}">FULFILLED ORDERS</a>
      <a class="dropdown-item" href="{% url 'adminstrator:product_view'%}">VERIFIED PRODUCTS</a>
      <a class="dropdown-item" href="{% url 'adminstrator:verify_product'%}">UNVERIFIED PRODUCTS</a>
      {%elif logged_user.role == "buyer"%}
          {%if logged_user.privilege == "flintwood"%}
                  <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="{% url 'Flintwood:FlintCart_view'%}" ><span class="glyphicon glyphicon-shopping-cart"></span>CART</a></li>
          {%elif logged_user.privilege == "biotech"%}
                  <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="{% url 'Biotech:cart_view'%}" ><span class="glyphicon glyphicon-shopping-cart"></span>CART</a></li>
          {%elif logged_user.privilege == "bttitan"%}
                  <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="{% url 'TkTitan:TKCart_view'%}"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a></li>
          {%elif logged_user.privilege == "all"%}
                    <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="{% url 'Flintwood:FlintCart_view'%}">Flintwood</a>
                          <a class="dropdown-item" href="{% url 'Biotech:cart_view'%}">Biotec</a>
                          <a class="dropdown-item" href="{% url 'TkTitan:TKCart_view'%}">Bttitan</a>
                        </div
                    </li>
          {%endif%}
          <li class="nav-item dropdown" style="color:white;"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user_name}}<br>{{times}}</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      {%elif logged_user.role == "Flintwood_supplier"%}
              {%if logged_user.privilege == "flintwood"%}
                      <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="{% url 'Flintwood:FlintCart_view'%}"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a></li>
              {%elif logged_user.privilege == "biotech"%}
                      <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="{% url 'Biotech:cart_view'%}"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a></li>
              {%elif logged_user.privilege == "bttitan"%}
                      <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="{% url 'TkTitan:TKCart_view'%}"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a></li>
              {%elif logged_user.privilege == "all"%}
                        <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="{% url 'Flintwood:FlintCart_view'%}">Flintwood</a>
                              <a class="dropdown-item" href="{% url 'Biotech:cart_view'%}">Biotec</a>
                              <a class="dropdown-item" href="{% url 'TkTitan:TKCart_view'%}">Bttitan</a>
                            </div
                        </li>
              {%endif%}
            <li class="nav-item dropdown" style="color:white;"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user_name}}<br>{{times}}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'FlintSupplier:supplier_view'%}">SUPPLY</a>
    {%elif logged_user.role == "btsupplier"%}
            {%if logged_user.privilege == "flintwood"%}
                    <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="{% url 'Flintwood:FlintCart_view'%}"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a></li>
            {%elif logged_user.privilege == "biotech"%}
                    <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="{% url 'Biotech:cart_view'%}"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a></li>
            {%elif logged_user.privilege == "bttitan"%}
                    <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="{% url 'TkTitan:TKCart_view'%}"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a></li>
            {%elif logged_user.privilege == "all"%}
                      <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'Flintwood:FlintCart_view'%}">Flintwood</a>
                            <a class="dropdown-item" href="{% url 'Biotech:cart_view'%}">Biotec</a>
                            <a class="dropdown-item" href="{% url 'TkTitan:TKCart_view'%}">Bttitan</a>
                          </div
                      </li>
            {%endif%}
            <li class="nav-item dropdown" style="color:white;"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user_name}}<br>{{times}}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'BTTitanSupplier:supplier_view'%}">SUPPLY</a>
    {%elif logged_user.role == "biotec_supplier"%}
            {%if logged_user.privilege == "flintwood"%}
                    <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="{% url 'Flintwood:FlintCart_view'%}"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a></li>
            {%elif logged_user.privilege == "biotech"%}
                    <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="{% url 'Biotech:cart_view'%}"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a></li>
            {%elif logged_user.privilege == "bttitan"%}
                    <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="{% url 'TkTitan:TKCart_view'%}"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a></li>
            {%elif logged_user.privilege == "all"%}
                      <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'Flintwood:FlintCart_view'%}">Flintwood</a>
                            <a class="dropdown-item" href="{% url 'Biotech:cart_view'%}">Biotec</a>
                            <a class="dropdown-item" href="{% url 'TkTitan:TKCart_view'%}">Bttitan</a>
                          </div
                      </li>
            {%endif%}
              <li class="nav-item dropdown" style="color:white;"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user_name}}<br>{{times}}</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'BiotecSupplier:supplier_view'%}">SUPPLY</a>
      {%endif%}

      {%endfor%}
      <a class="dropdown-item" href="{% url 'profile_view'%}"><span class="glyphicon glyphicon-user"></span> PROFILE</a>
      <a class="dropdown-item" href="{% url 'logout_view'%}"><span class="glyphicon glyphicon-log-out"></span> lOGOUT</a>
    </div></li>
    {%endif%}
    </ul>
        </nav>
            <div class = "container" style="margin-top: 100px;">

      <div class="row">
        <div class="col">
       <div class="shopping-cart" style="font-size: 12px;" >
          <!-- Title -->
          <div class="title" style="font-size: 17px; font-weight: bolder;"  >
           {{user_name}}'s Shopping Cart
          </div>
         <table class="table table-striped" style=" width: auto; font-size: 8px; padding: 1%; "><thead><tr>
          <td><div class="image" style="display: inline-block;text-align: left; width: 180px; ">

              <span><p style="font-weight: bolder;">PRODUCT</p></span>
            </div></td>
          <td style="width: 100%;">
            <div class="description" style="display: inline-block;width: 330px;">
              <span><p style="font-weight: bolder;">PRODUCT DESCRIPTION</p></span>

            </div></td>
            <td style="width: 100%;"><div class="description" style="display: inline-block;width: 175px;">
              <span><p style="font-weight: bolder;">PRODUCT ADDED ON</p></span>

            </div>
            </td>

            <td style="width: 100%;"><div class="description" style="display: inline-block;  width: 130px;">
             <span style="width: auto;"><p style="font-weight: bolder;">ORDER SIZE</p></span>

            </div>
            </td>
            <td style="width: 100%;"><div class="description" style="display: inline-block; width: 150px;">
              <span><p style="font-weight: bolder;">PRODUCT PRICE</p></span>

            </div>
            </td>

            <td style="width: 100%;"><div class="description" style="display: inline-block; width: 150px;">
             <span style="width: auto;"><p style="font-weight: bolder;">ACTION</p></span>

            </div>
            </td><button class="btn btn-default" style=" float: right; text-decoration: none;" ><a href = "{% url 'Biotech:store_page'%}" style="font-size: 12px;">ADD</a></button>
          </tr></thead>
          <!-- Product #1 -->
<tbody>
          {%if cart_content == ""%}
         <tr> <div class="row" style="font-style: italic; display: inline-block;  width: 16%; text-align: left; ">
              <p style="font-weight: bolder; ">Your Cart is empty, Shop and add to cart!!</p>
            </div></tr>
          {%elif cart_content != "" %}
              {% for product in cart_content %}

                <tr><td>
                  <img src="{{product.image.url}}" alt="" />
                  <span><p style="font-weight: bolder;font-size: 12px;">{{product.Product_name}}</p></span>
                </td>

                <td>
                  <span><p style="font-size: 12px;">{{product.Product_description}}</p></span></td>

                <td><span><p style="font-size: 12px;">{{product.date_created}}</p></span>
                  </td>


               <td><div class="description" style="display: inline-block; width: 130px; height: 150px;">

                  <p style=" font-weight: bold">({{product.count}} units)</p><br><table>
                    <form method="POST" style="width: auto;">{% csrf_token %}
                {{form.as_table}}
                <input type='hidden' name='ip' value='{{product.id}}'>
                <button type="submit" class="btn btn-default" style="font-size: 10px; padding: 0px;">Up date </button></form></table>
              </div></td>
                <td><span><p style="font-size: 12px;">USD: {{product.price}} per item</p></span></td>

                <td><div class="description" style="display: inline-block; width: 10%;">

                   <a href="{% url 'Biotech:delete_from_cart' pk=product.id%}">Remove</a>

                </div></td></tr>


                {% endfor %}
            {%endif%}
            </tbody></table>
            <div class="row" style=" display: inline-block; margin:5%; float: right;  width: auto;">
               <div class="total-price" style=" display: inline-block; margin:5%; float: right;">
                 {%if FlintCart_content == ""%}
                 <a href="{% url 'Flintwood:clear_whole_FlintCart' pk=memid%}" style="text-decoration: none; float: right;">CLEAR CART</a>
                 {%elif FlintCart_content != ""%}
                 <a href="{% url 'Flintwood:clear_whole_FlintCart' pk=memid%}" style="text-decoration: none; float: right;">CLEAR CART</a>

                 {%endif%}
                 <table>
                  <tr>
                    <td><h6 style="font-style: italic;">PURCHASE TOTAL: </h6></td>
                    <td style="text-align: center;">{{total_price}} USD</td>
                  </tr>
                  <tr>
                    <td><h6 style="font-style: italic;">VAT: </h6></td>
                    <td style="text-align: center;">{{Vat}} USD</td>
                  </tr>
                  <tr>
                    <td><h6 style="font-style: italic;">ORDER TOTAL: </h6></td>
                    <td style="text-align: center;">{{final_price}} USD</td>
                  </tr>
                  <tr>
                    <td><button class="btn btn-default" style=" display: inline-block; margin:5%; float: right; box-shadow: 3px 3px 3px grey;"><a href="{% url 'Biotech:calculate_cart' %}" style="text-decoration: none;">RECALCULATE</a></button></td>
                    <td><button class="btn btn-primary" style=" display: inline-block; margin:5%; float: right; box-shadow: 3px 3px 3px grey;"><a href="{% url 'orders:orders'  company=comp price=total_price %}" style=" text-decoration-color: black; color: black; text-decoration: none;">ORDER</a></button></td>
                  </tr>
                </table>
               </div><br>

               </div>
          </div>

        </div>
      </div>
    </div>

    <!-- Footer -->
<footer class="page-footer font-small blue pt-4" style="background-color: black; color: white; box-shadow: 0px 0px 3px grey;   ">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">Footer Content</h5>
        <p>Here you can use rows and columns to organize your footer content.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="{% url 'admin_page'%}">Adminstrator</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="{% url 'admin_page'%}">Adminstrator</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
