<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Pacifico&display=swap" rel="stylesheet">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
    <title>Store!</title>
  </head>
  <body  style="font-family: sans-serif;">

        <nav class="navbar navbar-expand-lg navbar-dark bg-dark " style=" position: fixed; top: 0;  left: 0;  z-index: 9999;  width: 100%; height: 50px; background-color: #FFFFF0;  height: auto;  ">
              <a class="navbar-brand" href="{% url 'ecommerce:index'%}"><strong>BT</strong>RESOURCES</a>

            <ul class="nav navbar-nav ">
              <li class="active" ><a href="{% url 'ecommerce:index'%}">HOME</a></li>
              <li ><a href="{% url 'ecommerce:company_view'%}">COMPANIES</a></li>
              <li ><a href="{% url 'ecommerce:membership_view'%}">MEMBERSHIP</a></li>
              <li><a href="{% url 'ecommerce:about_view'%}">ABOUT US</a></li>
            </ul>

            <ul class="navbar-nav  ml-auto">
              {%if user_name == None%}
               <li><span class="glyphicon glyphicon-log-in"></span><a href="{% url 'login_page'%}">LOGIN</a></li>
              <li><span class="glyphicon glyphicon-user"></span><a href="{% url 'register_page'%}">SIGN UP</a></li>
              {%elif user_name != None %}
              {%for logged_user in user%}
              {%if logged_user.role == "Admin" %}
              <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="{% url 'adminstrator:order_view'%}"><span class="glyphicon glyphicon-shopping-cart"></span>ORDERS</a></li>

    <li class="nav-item dropdown" style="color:white;"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user_name}}<br>{{times}}</a>
    <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">





      <a class="dropdown-item" href="{% url 'adminstrator:buyers_view'%}">USERS</a>
      <a class="dropdown-item" href="{% url 'adminstrator:freight'%}">FREIGHT VIEW</a>
      <a class="dropdown-item" href="{% url 'adminstrator:freight_view'%}">FREIGHT CREATE</a>
      <a class="dropdown-item" href="{% url 'adminstrator:finalied_order_view'%}">FULFILLED ORDERS</a>
      <a class="dropdown-item" href="{% url 'adminstrator:product_view'%}">VERIFIED PRODUCTS</a>
      <a class="dropdown-item" href="{% url 'adminstrator:verify_product'%}">UNVERIFIED PRODUCTS</a>
      {%elif logged_user.role == "buyer"%}
          {%if logged_user.privilege == "flintwood"%}
                  <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="{% url 'Flintwood:FlintCart_view'%}" ><span class="glyphicon glyphicon-shopping-cart"></span>CART</a></li>
          {%elif logged_user.privilege == "biotech"%}
                  <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="{% url 'Biotech:cart_view'%}" ><span class="glyphicon glyphicon-shopping-cart"></span>CART</a></li>
          {%elif logged_user.privilege == "bttitan"%}
                  <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="{% url 'TkTitan:TKCart_view'%}"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a></li>
          {%elif logged_user.privilege == "all"%}
                    <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                          <a class="dropdown-item" href="{% url 'Flintwood:FlintCart_view'%}">Flintwood</a>
                          <a class="dropdown-item" href="{% url 'Biotech:cart_view'%}">Biotec</a>
                          <a class="dropdown-item" href="{% url 'TkTitan:TKCart_view'%}">Bttitan</a>
                        </div
                    </li>
          {%endif%}
          <li class="nav-item dropdown" style="color:white;"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user_name}}<br>{{times}}</a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
      {%elif logged_user.role == "Flintwood_supplier"%}
              {%if logged_user.privilege == "flintwood"%}
                      <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="{% url 'Flintwood:FlintCart_view'%}"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a></li>
              {%elif logged_user.privilege == "biotech"%}
                      <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="{% url 'Biotech:cart_view'%}"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a></li>
              {%elif logged_user.privilege == "bttitan"%}
                      <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="{% url 'TkTitan:TKCart_view'%}"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a></li>
              {%elif logged_user.privilege == "all"%}
                        <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                              <a class="dropdown-item" href="{% url 'Flintwood:FlintCart_view'%}">Flintwood</a>
                              <a class="dropdown-item" href="{% url 'Biotech:cart_view'%}">Biotec</a>
                              <a class="dropdown-item" href="{% url 'TkTitan:TKCart_view'%}">Bttitan</a>
                            </div
                        </li>
              {%endif%}
            <li class="nav-item dropdown" style="color:white;"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user_name}}<br>{{times}}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'FlintSupplier:supplier_view'%}">SUPPLY</a>
    {%elif logged_user.role == "btsupplier"%}
            {%if logged_user.privilege == "flintwood"%}
                    <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="{% url 'Flintwood:FlintCart_view'%}"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a></li>
            {%elif logged_user.privilege == "biotech"%}
                    <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="{% url 'Biotech:cart_view'%}"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a></li>
            {%elif logged_user.privilege == "bttitan"%}
                    <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="{% url 'TkTitan:TKCart_view'%}"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a></li>
            {%elif logged_user.privilege == "all"%}
                      <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'Flintwood:FlintCart_view'%}">Flintwood</a>
                            <a class="dropdown-item" href="{% url 'Biotech:cart_view'%}">Biotec</a>
                            <a class="dropdown-item" href="{% url 'TkTitan:TKCart_view'%}">Bttitan</a>
                          </div
                      </li>
            {%endif%}
            <li class="nav-item dropdown" style="color:white;"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user_name}}<br>{{times}}</a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="{% url 'BTTitanSupplier:supplier_view'%}">SUPPLY</a>
    {%elif logged_user.role == "biotec_supplier"%}
            {%if logged_user.privilege == "flintwood"%}
                    <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="{% url 'Flintwood:FlintCart_view'%}"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a></li>
            {%elif logged_user.privilege == "biotech"%}
                    <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="{% url 'Biotech:cart_view'%}"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a></li>
            {%elif logged_user.privilege == "bttitan"%}
                    <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="{% url 'TkTitan:TKCart_view'%}"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a></li>
            {%elif logged_user.privilege == "all"%}
                      <li class="nav-item dropdown" style="margin-top:8%;" ><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-shopping-cart"></span>CART</a>
                          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'Flintwood:FlintCart_view'%}">Flintwood</a>
                            <a class="dropdown-item" href="{% url 'Biotech:cart_view'%}">Biotec</a>
                            <a class="dropdown-item" href="{% url 'TkTitan:TKCart_view'%}">Bttitan</a>
                          </div
                      </li>
            {%endif%}
              <li class="nav-item dropdown" style="color:white;"><a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{user_name}}<br>{{times}}</a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="{% url 'BiotecSupplier:supplier_view'%}">SUPPLY</a>
      {%endif%}

      {%endfor%}
      <a class="dropdown-item" href="{% url 'profile_view'%}"><span class="glyphicon glyphicon-user"></span> PROFILE</a>
      <a class="dropdown-item" href="{% url 'logout_view'%}"><span class="glyphicon glyphicon-log-out"></span> lOGOUT</a>
    </div></li>
    {%endif%}
    </ul>
        </nav>
    <div class = "container-fluid" style="margin-top: 110px;">

      <div class="row">

          {% for product in user_content %}
          <div class="card" style="width: 18rem;">
            <a href="{% url 'Flintwood:product_page' pk=product.pid%}" style=" text-decoration: none;">
                <img class="card-img-top"src="{{product.image.url}}" alt="Card image cap" height="170px"  >
              <div class="card-body">
                <h5 class="card-title">{{product.name}}</h5>
                <p class="card-text">PRICE: {{product.price}}</p>
                <a  class="btn btn-primary"  href="{% url 'Flintwood:addtoFlintCart' pk=product.pid  size=1 %}">ADD TO CART</a>
              </div></a>
          </div>


          </div>
          {% endfor %}
        </div>
      </div>
    </div>

    <!-- Footer -->

    <!-- Footer -->
<footer class="page-footer font-small blue pt-4" style="background-color: black; color: white; box-shadow: 0px 0px 3px grey;   ">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">BTresources</h5>
        <p>Trusted Ecommerce website.</p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
             <a href="{% url 'ecommerce:index'%}">Home</a>
          </li>

          <li>
             <a href="{% url 'Flintwood:store_page'%}">Flintwood</a>
          </li>
          <li>
             <a href="{% url 'TKTitan:store_page'%}">TkTitan</a>
          </li>
          <li>
             <a href="{% url 'Biotech:store_page'%}">Biotech</a>
          </li>
         <li>
             <a href="{% url 'admin_page'%}">Adminstrator</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->

      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
  </div>
  <!-- Copyright -->

</footer><!-- Footer -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>
